*{
  margin: 0;
  padding: 0;
}
body {
  background: #0f3854;
  background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
  font-size: 40px;
  height:  100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock {
  color: white;
  font-variant-numeric: slashed-zero;
  letter-spacing: 0.05em;
  font-size: 40px;
}